@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300;400;500;700&family=Exo+2:wght@300;400;500;700&family=Oxygen:wght@300;400;700&family=Poppins:wght@400;500;700&family=Roboto:wght@300;400;500;700&family=Ubuntu:wght@400;500;700&display=swap');

/* https://codepen.io/sosuke/pen/Pjoqqp png color change */

:root {
    --color-orange-1: #F26419;
    --color-orange-2: #F75C03;
    
    --color-black-1: #191c20;
    --color-black-2: #21252b;

    --color-green-1: #637e58;

    --png-orange-1: invert(42%) sepia(62%) saturate(1479%) hue-rotate(351deg) brightness(97%) contrast(95%);
    --png-orange-2: invert(43%) sepia(69%) saturate(4578%) hue-rotate(5deg) brightness(105%) contrast(98%);

    --png-black-1: invert(6%) sepia(15%) saturate(745%) hue-rotate(174deg) brightness(99%) contrast(90%);
    --png-black-2: invert(13%) sepia(25%) saturate(337%) hue-rotate(176deg) brightness(90%) contrast(94%);

    --png-green-1: invert(46%) sepia(11%) saturate(1082%) hue-rotate(58deg) brightness(96%) contrast(84%);

    

    --font-1: 'Poppins';
    --font-2: 'Ubuntu';
}

img, h1, h2, h3, li {
    pointer-events: none;
    user-select: none;
    list-style: none;
}

h1, h2, h3, li, button {
    font-family: var(--font-2);
    color: #fff;
    -webkit-font-smothing: antialiased;
    padding: 0;
    margin: 0;
}

button {
    color: #000;
}

html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
    background-color: var(--color-black-1);
}

html::-webkit-scrollbar {
    width: 6px;
    background-color: var(--color-black-2);
}

html::-webkit-scrollbar-thumb {
    background-color: var(--color-orange-1);
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 130px;
    justify-content: space-between;
    background-color: var(--color-black-1);
}

.navbar .navbar-logo {
    width: 100px;
    height: 100px;
    margin-left: 50px;
    filter: var(--png-orange-1);
}

.navbar .navbar-list {
    width: 700px;
    display: flex;
    align-items: center;
}

.navbar .navbar-list .navbar-list-elements {
    pointer-events: unset;
    transform: translateX(50px);
    margin-left: 40px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s;
}

.navbar .navbar-list .navbar-list-elements:hover {
    color: var(--color-orange-1);
    transition: 0.3s;
}

@media (max-width: 600px) {
    .navbar .navbar-logo {
        display: none;
    }

    .navbar {
        justify-content: center;
    }

    .navbar .navbar-list {
        width: 100%;
        display: flex;
        justify-content: center;
        text-align: center;
    }

    .navbar .navbar-list .navbar-list-elements {
        margin-left: unset;
        transform: unset;
        margin-inline: 20px;
    }
}

.section-1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 700px;
    overflow-x: hidden;
}

.section-1 .section-1-content {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    flex-direction: row;
    overflow-x:hidden;
}

.section-1 .section-1-content .section-1-content-img-1 {
    width: 100%;
    height: 540px;
    position: absolute;
    object-fit: cover;
    overflow-x: hidden;
}

.section-1 .section-1-content .section-1-content-text-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 700px;
    height: 500px;
    margin-left: 300px;
    z-index: 200;
}

.section-1 .section-1-content .section-1-content-text-container .section-1-content-text-1 {
    font-size: 50px;
    margin-bottom: 10px;
}

.section-1 .section-1-content .section-1-content-text-container .section-1-content-text-2 {
    font-size: 20px;
    color: var(--color-orange-1);
    margin-bottom: 10px;
}

.section-1 .section-1-content .section-1-content-text-container .section-1-content-text-3 {
    font-size: 20px;
    color: var(--color-green-1);
}

.section-1-content-text {
    transform: translateY(-30px);
}

.section-1 .section-1-content .section-1-content-text-container .section-1-content-button-1 {
    width: 150px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 25px;
    font-size: 16px;
    font-family: var(--font-2);
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: var(--color-orange-1);
    cursor: pointer;
    transition: 0.3s;
    z-index: 10;
}

.section-1 .section-1-content .section-1-content-text-container .section-1-content-button-1:hover {
    transform: translateY(-10px);
    transition: 0.3s;
}

@media (max-width: 1000px) {
    .section-1 .section-1-content .section-1-content-text-container {
        width: 90%;
        align-items: center;
        text-align: center;
        margin-left: unset;
    }

    .section-1 .section-1-content {
        justify-content: center;
    }
}

@media (max-width: 600px) {
    .section-1 .section-1-content {
    }

    .section-1 .section-1-content .section-1-content-img-1 {
        object-position: 75%;
    }
}

.section-1 .section-1-partner-list {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(10px);
}

.section-1 .section-1-partner-list .section-1-partner-list-img {
    width: 120px;
    margin-inline: 5px;
    filter: var(--png-green-1);
}

.section-1 .section-1-partner-list .section-1-partner-list-img-7 {
    transform: translateX(-30px);
}

@media (max-width: 1000px) {
    .section-1 .section-1-partner-list {
        transform: translateX(30px);
    }

    .section-1 .section-1-partner-list .section-1-partner-list-img {
        width: 90px;
    }
}

@media (max-width: 600px) {
    .section-1 .section-1-partner-list {
        transform: translateX(15px);
    }

    .section-1 .section-1-partner-list .section-1-partner-list-img-7 {
        transform: translateX(-15px);
    }

    .section-1 .section-1-partner-list .section-1-partner-list-img {
        width: 60px;
    }

    .section-1 .section-1-content .section-1-content-text-container .section-1-content-text-3 {
        display: none;
    }
}

.section-2 {
    display: flex;
    flex-direction: column;
    padding-top: 30px;
}

.section-2 .section-2-text-1 {
    width: 100%;
    height: 100px;
    text-align: center;
    text-transform: uppercase;
    font-size: 50px;
    color: var(--color-orange-1);
}

.section-2 .section-2-info {
    display: flex;
    width: 100%;
    height: 120px;
    justify-content: space-between;
    padding-block: 20px;
}

.section-2 .section-2-info-element {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.section-2 .section-2-info-element i {
    font-size: 50px;
    transform: translateX(-5px);
    filter: var(--png-orange-1);
}

.section-2 .section-2-info-element h2 {
    transform: translateX(5px);
    color: var(--color-orange-1);
}

@media (max-width: 1000px) {
    .section-2 .section-2-info {
        padding-block: unset;
        flex-direction: column;
        padding-bottom: 100px;
    }

    .section-2 .section-2-info-element {
        margin-bottom: 15px;
    }
}

@media (max-width: 400px) {
    .section-2 .section-2-text-1 {
        padding-bottom: 50px;
    }
}

.section-2 .section-2-slider-products {
    overflow-x: auto;
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    padding-block: 30px;
    scroll-behavior: smooth;
}

.section-2 .section-2-slider-products::-webkit-scrollbar {
    height: 6px;
    background-color: var(--color-black-2);
}

.section-2 .section-2-slider-products::-webkit-scrollbar-thumb {
    background-color: var(--color-orange-1);
}

.section-2-slider-products-element {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 400px;
    min-width: 400px;
    height: 500px;
    background-color: var(--color-orange-1);
    border-radius: 25px;
    margin-inline: 20px;
}

.section-2-slider-products-title {

}

.section-2-slider-products-slider {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 300px;
    height: 300px;
    display: flex;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
}

.section-2-slider-products-slider::-webkit-scrollbar {
    display: none;
}

.section-2-slider-products-colors {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 30px;
    transform: translateY(-20px);
}

.section-2-slider-products-color {
    margin-inline: 3px;
    transition: 0.3s;
}

.section-2-slider-products-color-black {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    outline: 0;
    border: 0;
    background-color: #363434;
    cursor: pointer;
}

.section-2-slider-products-color-white {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    outline: 0;
    border: 0;
    background-color: #fff;  
    cursor: pointer; 
}

.section-2-slider-products-color-blue {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    outline: 0;
    border: 0;
    background-color: #4c5c7c;
    cursor: pointer;
}

.section-2-slider-products-color-pink {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    outline: 0;
    border: 0;
    background-color: #eea0a0;
    cursor: pointer;
}

.section-2-slider-products-color:hover {
    transform: scale(1.25);
    margin-inline: 4.5px;
    transition: 0.3s;
}

.section-2-slider-products-color.select {
    transform: scale(1.5);
    margin-inline: 6px;
    transition: 0.3s;
}

.section-2-slider-products-slider div {
    width: 300px;
    height: 300px;
    scroll-snap-align: start;
}

.section-2-slider-products-btn {
    width: 150px;
    height: 40px;
    font-family: var(--font-1);
    font-weight: bold;
    font-size: 16px;
    color: #fff;
    border-radius: 15px;
    outline: none;
    border: none;
    background-color: var(--color-black-1);
    cursor: pointer;
    transition: 0.3s;
}

.section-2-slider-products-btn:hover {
    transform: translateY(-10px);
    transition: 0.3s;
}

.section-3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 700px;
    padding-bottom: 70px;
}

.section-3 .section-3-title {
    font-size: 50px;
    margin-top: 50px;
    padding-bottom: 70px;
    z-index: 100;
}

.section-3 .section-3-specs {
    display: flex;
}

.section-3 .section-3-specs .section-3-specs-list {
    width: 450px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-3-specs-more {
    pointer-events: unset;
    font-size: 16px;
    margin-top: 5px;
    font-weight: 500;
    color: var(--color-orange-1);
}

.section-3-specs-img {
    width: 500px;
}

.section-3-specs-list-title-1 {
    font-size: 50px;
    padding-bottom: 10px;
    color: var(--color-orange-1);
    z-index: 100;
}

.section-3-specs-list-element {
    margin-block: 10px;
    font-size: 26px;
    font-weight: 500;
    z-index: 100;
}

.section-3-specs-list-element ion-icon {
    color: var(--color-orange-1);
    transform: translateX(3px) translateY(4px);
}

@media (max-width: 1020px) {
    .section-3 .section-3-specs {
        justify-content: center;
    }

    .section-3-specs-img {
        width: 300px;
        height: 300px;
    }
}

@media (max-width: 800px) {
    .section-3-specs-img {
        position: absolute;
        transform: translate(140px, -90px);
        z-index: 99;
    }
}

@media (max-width: 450px) {
    .section-3 {
        padding-bottom: unset;
    }

    .section-3 .section-3-specs .section-3-specs-list {
        width: 100%;
        padding-bottom: unset;
        align-items: center;
    }

    .section-3 .section-3-title {
        text-align: center;
        padding-bottom: unset;
    }

    .section-3-specs-img {
        display: none;
    }

    .section-3-specs-list-title-1 {
        font-size: 30px;
    }
    
    .section-3-specs-list-element {
        font-size: 16px;
    }

    .section-3-specs-more {
        width: 80%;
        font-size: 12px;
        text-align: center;
    }
}

.footer {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: var(--color-black-2);
}

.footer-lists {
    width: 100%;
    height: 100%;
    display: flex;
    margin-bottom: 50px;
    justify-content: right;
}

.footer-list {
    width: 300px;
    height: 100%;
    margin-inline: 50px;
    margin-top: 20px;
}

.footer-list-element {
    pointer-events: unset;
    cursor: pointer;
    width: max-content;
    font-family: var(--font-2);
    font-weight: 500;
    color: rgb(143, 143, 143);
    margin-top: 10px;
    transition: 0.3s;
}

.footer-list-element:hover {
    transform: translateX(10px);
    color: var(--color-orange-1);
    transition: 0.3s;
}

.footer-copyright {
    font-weight: 500;
}

.footer-other {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.footer-socialmedia {
    display: flex;
    align-items: center;
    width: 200px;
    height: 50px;
}

.footer-socialmedia i {
    font-size: 30px;
    margin-right: 15px;
    color: #fff;
    cursor: pointer;
    transition: 0.3s;
}

.footer-socialmedia i:hover {
    color: var(--color-orange-1);
    transition: 0.3s;
}

@media (max-width: 1240px) {
    .footer {
        padding-bottom: 60px;
        flex-direction: column;
        align-items: unset;
        justify-content: unset;
        margin: unset;
    }

    .footer-lists {
        justify-content: center;
    }

    .footer-other {
        align-items: center;
    }

    .footer-socialmedia {
        width: max-content;
    }
}

@media (max-width: 750px) {
    .footer-list {
        width: min-content;
        margin-inline: 20px;
    }

    .footer-list-element {
        width: min-content;
    }

    .footer-list-3-title {
        width: max-content;
    }

    .footer-list-3-element {
        width: max-content;
    }

    .footer-copyright {
        text-align: center;
    }
}

@media (max-width: 450px) {
    .footer-lists {
        flex-direction: column;
    }

    .footer-list-element {
        width: max-content;
    }

    .footer-list-3-element {
        width: max-content;
    }
}